.header__logo {
  background-image: url(../../../images/icons/logo.svg);
  max-width: 142px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

@media screen and (max-width: 980px) {
  .header__logo {
    max-width: 103px;
    height: 24px;
  }
}

/* @media screen and (max-width: 320px) {
  .header__logo {
    max-width: 103px;
    height: 24px;
  }
} */
