.profile__container {
  width: 100%;
  max-width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 680px) {
  .profile__container {
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
  }
}
