.popup__error {
  position: absolute;
  color: red;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  top: calc(100% + 5px);
  left: 0;
}

@media screen and (max-width: 480px) {
  .popup__error {
    margin: 0 22px 10px 22px;
  }
}
