.authorization__input {
  border: 0;
  color: white;
  padding-bottom: 13.26px;
  border-bottom: 2px solid #cccccc;
  font-size: 14px;
  line-height: 17px;
  background-color: unset;
  margin-bottom: 30px;
}
