.header {
  max-width: 882px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 40.6px;
  border-bottom: 1px solid #545454;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 980px) {
  .header {
    max-width: 760px;
    padding: 28px 0 31px 0px;
  }
}

@media screen and (max-width: 810px) {
  .header {
    max-width: 90%;
  }
}

@media screen and (max-width: 680px) {
  .header {
    max-width: 480px;
    padding-left: 27px;
  }
}
